<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project01"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    
    <permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.project01.StartUp"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.project01.LogInScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.example.project01.LogInScreen" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.project01.Welcome"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.example.project01.welcome" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.project01.ScanScreen"
            android:label="@string/title_activity_scan_screen"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.example.project01.ScanScreen" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.project01.HistoryScreen"
            android:label="@string/title_activity_history_screen"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.example.project01.HistoryScreen" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.project01.ShoppingCart"
            android:label="@string/title_activity_shopping_cart"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.example.project01.ShoppingCart" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.project01.ProductShow"
            android:label="@string/title_activity_product_show"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.example.project01.ProductShow" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.project01.CustomerRegistration"
            android:label="@string/title_activity_customer_registration" >
            <intent-filter>
                <action android:name="com.example.project01.CustomerRegistration" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.project01.Payment"
            android:label="@string/title_activity_payment" >
            <intent-filter>
                <action android:name="com.example.project01.Payment" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.paypal.android.MEP.PayPalActivity"
            android:label="@string/title_activity_payment" >
        </activity>
    </application>

</manifest>